<% for message in @messages %>
  <tr>
    <td class="tcu"><%= message.user %></td>
    <td class="tcl"><%= bb(message.body) %></td>
    <td class="tcr"><%= link_to '(x)', message, :confirm => 'Are you sure?', :method => :delete if can_edit?(message) %></td>
  </tr>
<% end %>