.DS_Store
/tmp/**/*
/log/*
*.log
/tmp/restart.txt
/config/amazon_s3.yml
/config/config.yml
/config/database.yml
/config/smtp.yml
/config/deploy.rb
/db/*.sqlite3
/public/avatars/*
/public/files/*
/public/headers/*
/public/themes/*
bin/*
vendor/bundler_gems/*