<div class="info-left">
  <div class="title">
    <%= link_to t_no_of( :no_of_comments, @article.comments_count ), comments_path %>
  </div>
</div>
<div class="clear"> </div>

<div class="comment-list">
  <% @comments.each do |comment| %>
    <%= render :partial => 'comments/comment', :object => comment %>
  <% end %>
</div>
