<div class="comment" id="c<%= comment.id %>">
  <span class="comment-user"><%= link_to h(comment.user), comment.user %></span> 
  <span class="detail">
    <%= link_to time_ago_or_time_stamp(comment.created_at, Time.now.utc, true, true), comment, :class => 'text' %>
  </span>
  <div class="comment-body"><%=bb comment.body %></div>
</div>