<% @comments = @article.comments(:include => :user) %>
<div class="info-left">
  <div class="title">
    <%= pluralize(@article.comments_count, 'Comment') %>
  </div>
</div>
<div class="clear"> </div>

<div class="comment-list">
  <% @comments.each do |comment| %>
    <%= render :partial => 'comments/comment', :object => comment %>
  <% end unless @comments.empty? %>
</div>
