<% form_tag search_path, :method => 'post' do %>
	<div class="box">
		<div class="top">Search</div>
		<p class="label"><label for="q">Search the Forum</label></p>
		<p><%= text_field_tag :q, params[:q], :id => :search, :style => "width:31%" %></p>
		<p>
			<%= submit_tag "Search", :disable_with => "Search" %><span> or 
			<%= link_to 'Cancel', home_path %>
		</p>
	</div>
<% end %>

<%= javascript_tag "search.focus();" %>
