<div class="primary">
  <% if @parent_user %>    
    <div class="info-left">
      <span class="title">Articles by <%= link_to @parent_user, user_articles_path(@parent_user) %></span>
    </div>
    <div class="clear"> </div>
  <% end %>
  <% if !@articles.empty? %>
    <% for article in @articles %>
      <%= render :partial => 'articles/article', :object => article %>
    <% end %>
    <div class="info-right">
      <%= will_paginate @articles, :inner_window => 1, :outer_window => 0, :prev_label => '&laquo; Prev' %>
    </div>
  <% else %>
    <div class="info-left">
      <div class="title article-title">No Articles Found</div>
    </div>
    <div class="clear"> </div>
  <% end %>
</div>
<div class="secondary">
  <%= render :partial => 'articles/secondary'%>
</div>
