<div class="primary">
  <% if @user %>    
    <div class="info-left">
      <span class="title">Articles by <%= link_to @user, articles_user_path(@user) %></span>
    </div>
    <div class="clear"> </div>
  <% end %>
  <% if @articles %>
    <% for article in @articles %>
      <%= render :partial => 'articles/article', :object => article %>
    <% end %>
  <% else %>
    <div class="info-left">
      <div class="title article-title">No Articles Found</div>
    </div>
    <div class="clear"> </div>
  <% end %>
</div>
<div class="secondary">
  <%= render :partial => 'articles/secondary'%>
</div>
