<% for theme in @themes %>
	<p>
		<%=h theme.filename %> by <%=h theme.user.login %> 
		(<%= link_to 'select', select_theme_path(theme), :method => :post %>)
		<% if can_edit?(theme) %>
			(<%= link_to 'x', theme_path(theme), :confirm => 'Are you sure?', :method => :delete %>)
		<% end %>
	</p>
<% end %>
