<%= error_messages_for :theme %>
<% form_for(:theme, :url => themes_path, :html => { :multipart => true }) do |f| %>
	<p><%= f.file_field :uploaded_data %></p>
	<p><%= submit_tag "Upload" %>
<% end %>