<%= error_messages_for :topic %>
	
<% form_for(:topic, :url => topics_path) do |f| %>

	<table>
		<tr><td><label for="title">Title:</label></td><td><%= f.text_field :title %></td></tr>
		<tr><td><label for="title">Body:</label></td><td><%= f.text_area :body %></td></tr>
	</table>

	<p><%= submit_tag "Create Topic" %> or <%= link_to 'Cancel', topics_path %></p>

<% end %>
