* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin: 1em 0; }
fieldset { padding: .5em; }
li { margin: 0; padding: 0; list-style-type: none; }

body {
	background: #ddd;
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 11px;
}

.wrapper {
	width: 760px;
	margin: 20px auto 0 auto;
	padding: 10px;
	border: 1px solid #bbb;
	background: #fff;
}
	
.header {
	height: 200px;
	background: #333 url('/images/headers/tds3.jpg');
}

.content {
	clear: both;
}

.footer, .footer a:link, .footer a:visited {
	font-size: 10px;
	margin-top: 10px;
	color: #ccc;
}

a:link, a:visited {
	color: #24c;
	color: #638137;
	text-decoration: none;
}

a:active, a:hover {
	color: #24c;
	color: #8EB653;
	text-decoration: underline;
}

h1 { 
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0;
	padding: 83px 0 0 40px;
}

h1, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	text-decoration: none;
	color: #fff;
}

h1 a:hover, h1 a:active {
	text-decoration: underline;
}
	
.tagline {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 10px;
	color: #fff;
	margin: 0 40px;
}

h3 {
	font-size: 15px;
}

.nav {
	margin: 10px 0;
	width: 758px;
	height: 26px;
	border: 1px solid #999;
	background: #eee;
}

.nav-1, .nav-3 {
	float: left;
	margin: 6px 0 0 5px;
}

.nav-2, .nav-4 {
	float: right;
	margin: 6px 5px 0 0;
}

.navf .nav-1, .navf .nav-2 {
	color: #999;
	font-size: 10px;
	margin-top: 7px;
}

.navn {
	margin: 0;
}

table {
	width: 100%;
	border: 1px solid #35604D;
}

thead th {
	background: #35604d;
	color: #fff;
	text-align: left;
	font-weight: normal;
	padding: 5px;
}

thead a:link, thead a:visited {
	color: #fff;
}

thead .tcm {
	text-align: center;
}

tbody {
	background: #f1f1f1;
}

tbody td {
	padding: 5px;
	vertical-align: top;
	border-top: 1px solid #cedeb9;
	border-right: 1px solid #cedeb9;
}

tbody .tcm {
	text-align: center;
	background: #dedfdf;
}

tbody .tcr {
	border-right: 0;
}

tbody .tds {
	border: 0;
	padding: 10px 0 0 10px;
}

.tbp td {
	border: 0;
}

.tbp .tcl {
	width: 188px;
}

.tbp .tcr {
	padding-top: 4px;
	line-height: 1.4em;
}

.tbp dl {
	margin: 0;
}

.tbp dt {
	font-size: 12px;
	font-weight: bold;
}

.tbp dd.rank {
	font-weight: bold;
}

.tbp dd.avatar {
	margin: 8px 0 4px 0;
}

.tbp .tcr {
	background: #dedfdf;
}

.edr {
	border: 0;
	text-align: right;
}

.eds {
	float: right;
	margin: -20px 5px 0 0;
}

.tbp {
	margin-bottom: 5px;
}

.tbp .thr {
	text-align: right;
}

.ttl {
	float: left;
	margin: 0 0 10px 0;
	padding-left: 5px;
	border-left: 1px solid #f1f1f1;
}

.ttr {
	float: right;
	margin: 2px 0 10px 0;
	padding-right: 5px;
	border-right: 1px solid #f1f1f1;
}

.ttf {
	margin: 5px 0 10px 0;
}

.ttf p {
	margin: 0;
}

.tt {
	font-size: 12px;
	font-weight: bold;
}

.tp {
	font: 11px normal;
	color: #999;
	margin-left: 2px;
}

.p1, .pn {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.pn {
	margin-top: 10px;
}

.sig {
	margin-top: 20px;
	width: 200px;
	color: #ccc;
}

.edit {
	margin-top: 20px;
	font-style: italic;
}

.box-links a:link, .box-links a:visited, .box-links a:active, .box-links a:hover {
	margin: 2px;
	padding: 4px 6px;
	border: 1px solid #ccc;
	color: #333;
	background: #f1f1f1;
}

.box-links a:hover, .box-links a:active {
	background: #444;
	border: 1px solid #111;
	color: #dedfdf;
	text-decoration: none;
}

.profile {
	padding: 5px 15px;
}

.profile-left {
	width: 540px;
}

.profile-login {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin: 10px 2px 0 0;
	padding: 0 0 10px 0;
}

.profile-avatar {
	float: right;
	width: 170px;
	text-align: center;
	background: #f1f1f1;
}

.profile-box {
	float: right;
	margin-top: 0;
}

.profile-info p {
	margin-right: 20px;
	float: left;
}

.friend-list p {
	float: left;
	margin: 6px auto;
}

#notice, #error {
	border: 1px solid #999;
	background: #eee;
	margin-bottom: 10px;
}

#notice {
	background-color: #FBFBB1;
  text-align: center;
	padding: 3px 0;
}

#errorExplanation {
  border: 1px solid #333;
  background-color: #f0f0f0;
	margin-bottom: 10px;
}

#errorExplanation h2 {
	padding: 4px 5px;
	margin: 0;
  border-bottom: 1px solid #333;
  font-size: 11px;
  background-color: #FBFBB1;
}

#errorExplanation p {
	display: none;
}

#errorExplanation ul {
	padding: 6px 10px;
	margin: 0;
}

#errorExplanation ul li {
	padding: 2px 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

blockquote {
	background: #f1f1f1 !important;
	border: 1px solid #f1f1f1;
	border-color: #ACA899 #FFF #FFF #ACA899;
	margin: 10px !important;
	padding: 5px 10px;
}

.globalnav .menu { 
	position: relative;
	margin: -24px 0 0 24px;
	width: 710px;
	font: 1em Verdana, Helvetica, Arial, Sans-Serif;
	padding: 5px 15px 6px 12px;
}
	
.globalnav .menu li {
	display: inline;
	margin: 0 4px;
}
	
.globalnav .menu li a {
	font-size: 10px;
	padding: 5px 13px 6px 13px;
}

.globalnav .menu li a:link, .globalnav .menu li a:visited {
	color: #fff !important;
	text-decoration: none;
}

.globalnav .menu li a:hover, .globalnav .menu li a:active {
	background: #333;
	color: #eee !important;
	text-decoration: none;
}

.globalnav .menu li.tab a:link, .globalnav .menu li.tab a:visited,
.globalnav .menu li.tab a:hover, .globalnav .menu li.tab a:active {
	background: #fff;
	color: #333 !important;
	text-decoration: none;
}

.globalnav .menu li ul { /* hides subpages */
	display: none;
}
