* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin: 1em 0; }
li, dd { margin-left: 5%; }
fieldset { padding: .5em; }

body {
	background-color: #fff;
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	text-align: justify;
	background: #ddd;
}

.wrapper {
	width: 760px;
	margin: 20px auto 0 auto;
	padding: 10px;
	border: 1px solid #bbb;
	background: #fff;
}
	
.header {
	height: 200px;
	background: #000;
	background: url(/images/headers/tds3.jpg);
}

.content {
	clear: both;
}

.footer, .footer a:link, .footer a:visited {
	font-size: 10px;
	margin-top: 10px;
	color: #ccc;
}

a:link, a:visited {
	color: #24c;
	color: #638137;
	text-decoration: none;
}

a:active, a:hover {
	color: #24c;
	color: #8EB653;
	text-decoration: underline;
}

h1 { 
	font-family: 'Trebuchet MS', Verdana, Sans-Serif;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0;
	padding: 83px 0 0 40px;
	}

h1, h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
	text-decoration: none;
	color: #fff;
	}

h1 a:hover, h1 a:active {
	text-decoration: underline;
	}
	
.tagline {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 10px;
	color: #fff;
	margin: 6px 40px;
}

h2 {
}

h3 {
	font-size: 15px;
}

li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav {
	margin: 10px 0;
	width: 758px;
	height: 26px;
	border: 1px solid #999;
	background: #eee;
}

.nav-1, .nav-3 {
	float: left;
	margin: 4px 0 0 5px;
}

.nav-2, .nav-4 {
	float: right;
	margin: 4px 5px 0 0;
}

table {
	width: 100%;
	border: 1px solid #35604D;
}

thead th {
	background: #35604d;
	color: #eee;
	text-align: left;
	font-weight: normal;
	padding: 3px 5px;
}

thead .tcm {
	text-align: center;
}

tbody {
	background: #f1f1f1;
}

tbody td {
	padding: 3px 5px;
	vertical-align: top;
	border-top: 1px solid #cedeb9;
	border-right: 1px solid #cedeb9;
}

tbody .tcm {
	text-align: center;
	background: #dedfdf;
}

tbody .tcr {
	border-right: 0;
}

tbody .tds {
	padding: 10px 15px;
}

.tbp .tcl {
	width: 180px;
}

.tbp .tcr {
	background: #dedfdf;
}

.tbp {
	margin-bottom: 5px;
}

.tbp .u {
	font-size: 12px;
	font-weight: bold;
}

.tbp .thr {
	text-align: right;
}

.ttl {
	float: left;
	margin: 0 0 0 190px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
}

.ttr {
	float: right;
	margin-bottom: 2px;
}

.nopost {
	width: 752px;
	height: 22px;
	border: 1px solid #999;
	background: #eee;
	margin: 0 0 40px 0;
	padding: 4px 6px 0 0;
	text-align: right;
}

.box-links a:link, .box-links a:visited, .box-links a:active, .box-links a:hover {
	margin: 2px;
	padding: 4px 6px;
	border: 1px solid #ccc;
	color: #333;
}

.box-links a:hover, .box-links a:active {
	background: #444;
	border: 1px solid #333;
	color: #eee;
	text-decoration: none;
}

.profile {
	padding: 5px 15px;
}

.profile-left {
	width: 665px;
}

.profile-login {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
	width: 663px;
}

.profile-avatar {
	float: right;
	width: 170px;
	margin-top: 6px;
	border: 1px solid #ccc;
	text-align: center;
}

.profile-box {
	float: right;
	margin-top: 0;
}

.profile-info p {
	margin-right: 20px;
	float: left;
}

.profile-bbcode a:link, .profile-bbcode a:visited {
	color: #24c;
}

.friend-list p {
	float: left;
	margin: 6px auto;
}

#notice {
	background: #FBFBB1;
	text-align: center;
	border: 1px solid #333;
	font-weight: normal;
	padding: 3px 6px;
	margin-bottom: 10px;
}

#error {
	background: #c00;
	color: #eee;
	text-align: center;
	border: 1px solid #333;
	font-weight: normal;
	padding: 3px 6px;
	margin-bottom: 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: #c00;
  display: table;
}

#errorExplanation {
  border: 1px solid #333;
  background-color: #f0f0f0;
	margin-bottom: 10px;
}

#errorExplanation h2 {
	padding: 4px 15px;
	margin: 0;
  border-bottom: 1px solid #333;
  font-size: 12px;
  background-color: #c00;
	color: #eee;
}

#errorExplanation p {
	display: none;
}

#errorExplanation ul {
	padding: 4px 10px;
	margin: 0;
	list-style-type: none;
}

#errorExplanation ul li {
	padding: 5px;
	margin: 0;
}

.globalnav .menu { 
	position: relative;
	margin: -24px 0 0 23px;
	width: 710px;
	font: 1em Verdana, Helvetica, Arial, Sans-Serif;
	padding: 5px 15px 6px 12px;
}
	
.globalnav .menu li {
	display: inline;
	margin: 0 4px;
}
	
.globalnav .menu li a {
	font-size: 10px;
	padding: 5px 13px 6px 13px;
}

.globalnav .menu li a:link, .globalnav .menu li a:visited {
	color: #fff !important;
	text-decoration: none;
}

.globalnav .menu li a:hover, .globalnav .menu li a:active {
	background: #333;
	color: #eee !important;
	text-decoration: none;
}

.globalnav .menu li.current_page_item a:link, .globalnav .menu li.current_page_item a:visited,
.globalnav .menu li.current_page_item a:hover, .globalnav .menu li.current_page_item a:active {
	background: #fff;
	color: #333 !important;
	text-decoration: none;
}

.globalnav .menu li ul { /* hides subpages */
	display: none;
}
