<%= error_messages_for :user %>
<% form_for(:user, :url => login_path) do |f| %>
	<table cellspacing="0">
		<thead><tr><th>Login</th></tr></thead>
		<tbody><tr><td class="tds">
			<p class="p1">Username</p><%= f.text_field :login %>
			<p class="pn">Password</p><%= f.password_field :password %>
			<p><%= submit_tag "Login", :disable_with => "Login" %> or <%= link_to 'Cancel', home_path %></p>
		</td></tr></tbody>
	</table>
<% end %>
<%= javascript_tag "user_login.focus();" %>