<div class="info-left">
  <span class="title">Administration</span>
  <span class="detail">
    &nbsp;| &nbsp;
    <%= link_to 'Settings', settings_path %> &nbsp; 
    <%= link_to 'Themes', themes_path %>
  </span>
</div>
<div class="clear"> </div>