<div class="nav nav-stats">
  <p class="nav-left">
    <% users_online = User.users_online -%>
    <% unless users_online.empty? %>
      Recent Visitors: <%= users_online.map { |u| link_to "#{h u.login}", u } * ", " %>
    <% end %>
  </p>
  <p class="nav-right">
    <%= pluralize(number_with_delimiter(@posts_count) || 0, 'Post') %> by 
    <%= pluralize(number_with_delimiter(@user_count), 'User') %> | 
    Newest User: <%= link_to h(@newest_user.login), @newest_user %>
  </p>
</div>