<div class="nav-stats">
  <p class="nav-left">
    <% unless @users_online.blank? %>
      Online: <%= @users_online.map { |u| link_to "#{h u.login}", u } * ", " %>
    <% end %>
  </p>
  <p class="nav-right">
    <% unless @users_newest.blank? %>
      Newest User: <%= link_to h(@users_newest.login), @users_newest %>
    <% end %>
  </p>
  <div class="clear"> </div>
</div>
