<ul class="tabs">
  <li class="tab <%= tab('home') %>"><%= link_to('Home', root_path) %></li>
  <li class="tab <%= tab('events') %>"><%= link_to('Events', events_path) %></li>
  <li class="tab <%= tab('uploads') %>"><%= link_to('Files', files_root_path) %></li>
  <li class="tab <%= tab('forums') %>"><%= link_to('Forum', forum_root_path) %></li>
  <li class="tab <%= tab('headers') %>"><%= link_to('Headers', headers_path) %></li>
  <li class="tab <%= tab('users') %>"><%= link_to('Users', users_path) %></li>
</ul>