<div id="primary">

  <div class="info-left">
    <div class="title article-title">
      El Dorado Overview
    </div>
  </div>
  <div class="clear"> </div>

  <div class="article-body">

    <p>For new users: when you sign in the first page you'll see a list of the <em>Topics</em> with the most recent activity. In the far right column, the name you see is the most recent post.</p>

    <p>Click on the <em>time ago</em> link to the right and you'll be taken to the last post you read in that thread. This will be more valuable once you've been using El Dorado for awhile.</p>

    <p>Across the top of every page you'll see some navigation tabs:</p>

    <blockquote><strong>Home</strong>: Takes you back to the &quot;Recent Activity&quot; page detailed above.<br /><br /><strong>Chat</strong>: The El Dorado chat room. It's real time chat when regular boarding just isn't enough. You can see underneath the tabs bar who (if anyone) is currently in Chat.<br /><br /><strong>Events</strong>: The El Dorado calendar. Go here to add or view events. If you check the "reminder" checkbox, a banner appears at the top of the page heralding the event a few hours before.<br /><br /><strong>Files</strong>: Click here to surf through all the files that have been uploaded to El Dorado. When you add a file (such as a .jpg or .mp3) this is where you can go to find it again.<br /><br /><strong>Forum</strong>: This is the Forum archive, which has a categorized list of all the Topics on the site. Browse through it, check out what you've been missing if you're a new member.<br /><br /><strong>Headers</strong>: The randomly selected Header images you'll see along the top are stored here. You can add header images so long as they're formatted to 760x200 pixels. You can also vote the ones you like up and the ones you don't down.<br /><br /><strong>Users</strong>: List of El Dorado users, including rank, post count and when they registered. Click on their names to learn what they'd like you to know about them.</blockquote>

    <p>Underneath the Tabs you'll see that you are logged in, and across from that, <em>Start a New Topic</em>, <em>Search</em> and <em>Logout</em>.</p>

    <blockquote><strong>Start a New Topic</strong>: Just as it says. When you click on this link (as you already have) you'll see that you can choose a Title, whether or not the thread is locked (this indicates whether anyone but the thread's original author can post in it; there may be times when you want to lock a thread if the conversation is over, but remember: you can always unlock it again), a drop down menu where you can assign the thread to a Forum and then the Body, where you will post the content. You can then post the topic. Also, when replying you can subscribe to threads in order to receive email updates when there are replies.<br /><br /><strong>Search</strong> You can search individual areas of El Dorado in a very basic way. Complex searches aren't supported, and you have to choose the specific area to search. The default is Topic titles, but you can also search individual posts, files, etc.<br /><br /><strong>Logout</strong> This logs you out of the site. You won't be logged out automatically, so make sure to log out if you're on a shared computer!</blockquote>

    <h3>BBcode Overview</h3>

    <p>BBcode refers to Bulletin Board code. Like HTML, it is a markup language used to format text for view on the World Wide Web. Specifically, it is designed to be used by forum posters to format their posts.</p>
    
    <p>Here's an example:</p>

    <blockquote>
      <p>[b]This text is bold[/b]<br />
      [u]This text is underlined[/u]<br />
      [i]This text is italic[/i]<br />
      [b][i]This text[/i] is [u]mixed[/u][/b]</p>
    </blockquote>

    <p>The above will display as:</p>
    
    <blockquote>
      <p><b>This text is bold</b><br />
       <i>This text is italic</i><br />
       <u>This text is underlined</u><br />
       <b><i>This text</i> is <u>mixed</u></b>
      </p>
    </blockquote>
    
    <p>You can review the available BBCode tags on the right-hand side of this page.<p>
    <p>More detailed BBCode documentation is available <a href="/help/bbcode1.html">here</a> and <a href="/help/bbcode2.html">here</a>.</p>
        
  </div>
</div>

<div id="secondary">
  
  <div class="title">BBCode Tags</div>
  
  <ul class="secondary-list">
    <li>[[]]</li>
    <li>atomfilms</li>
    <li>bold</li>
    <li>code</li>
    <li>collegehumor</li>
    <li>color</li>
    <li>comedycentral</li>
    <li>current</li>
    <li>del</li>
    <li>email=</li>
    <li>flash</li>
    <li>flickr</li>
    <li>funnyordie</li>
    <li>gametrailers</li>
    <li>googlevid</li>
    <li>hide</li>
    <li>hulu</li>
    <li>img</li>
    <li>italic</li>
    <li>li</li>
    <li>list</li>
    <li>quote=</li>
    <li>metacafe</li>
    <li>mp3</li>
    <li>myspacetv</li>    
    <li>nsfw</li>
    <li>revver</li>
    <li>size</li>
    <li>slideshare</li>
    <li>spoiler</li>
    <li>strike</li>
    <li>superdeluxe</li>
    <li>underline</li>
    <li>url=</li>
    <li>vimeo</li>
    <li>yahoovid</li>
    <li>youtube</li>
  </ul>

</div>