<div id="action" style="display:none;">
  <%= render 'topics/new' %>
</div>

<div class="home-left">
  <%= render 'topics/index' %>
</div>

<div class="home-right">
  <%= render :partial => 'events/mini' %>
</div>