<div style="float:right;">
	<%= link_to "&laquo; Previous", events_path(:params => {:date => @date.last_month.strftime("%Y-%m") + '-01'}) %> &nbsp;
	<%= link_to "Today", events_path %> &nbsp;
	<%= link_to "Next &raquo;", events_path(:params => {:date => @date.next_month.strftime("%Y-%m") + '-01'}) %>	
</div>
<div style="clear:both;"> </div>