<div id="action" style="display:none;">
	<%= render :partial => 'events/new' %>
</div>

<div class="info-left">
	<span class="title"><%=h @event.title %></span>
	<span class="detail">by <%= link_to h(@event.user.login), user_path(@event.user) %></span>
</div>
<div style="clear:both;"> </div>

<% if !@event.description.blank? %>
	<blockquote>
		<p><b><%=h @event.date.strftime("%A, %B %d at %I:%M %p (%Z)") %></b></p>
		<%=h @event.description %>
	</blockquote>
<% end %>
