<% if !@files.blank? %>
	<table cellspacing="0">
		<thead>
			<tr>
				<th class="tcl">Files</th>
			</tr>
		</thead>
		<tbody>
			<% for files in @files %>
				<tr>
					<td class="tcl"><%=h files.filename %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
