<% if !@files.blank? %>
	<table cellspacing="0">
		<thead>
			<tr>
				<th class="tcl">Files</th>
			</tr>
		</thead>
		<tbody>
			<% for files in @files %>
				<tr>
					<td class="tcl"><%= link_to h(files.filename), files.public_filename %> (<%= link_to 'detail', files_path(files) %>)</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
