<h1>Editing subscription</h1>

<%= error_messages_for :subscription %>

<% form_for @subscription do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Topic</b><br />
    <%= f.text_field :topic_id %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @subscription %> |
<%= link_to 'Back', subscriptions_path %>