<div class="info-left">
  <span class="title">Subscriptions</span>
</div>
<div class="clear"> </div>
  
<% if @subscriptions.blank? %>
  <p>You have no subscriptions.</p>
<% else %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th class="tcl" colspan="2">Topics</th>
      </tr>
    </thead>
    <tbody>
      <% for subscription in @subscriptions %>
        <tr>
          <td class="tcl"><%= link_to h(subscription.topic), subscription.topic %></td>
          <td class="tcr"><%= link_to '(x)', subscription_path(subscription), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
