<p>
  <span class="title">Your subscriptions</span>
</p>

<table>
  <tr>
    <th>Topic</th>
  </tr>
  
<% for subscription in @subscriptions %>
  <tr>
    <td>
      <%= link_to subscription.topic, subscription.topic %>
    </td>
    <td>
      <%= link_to 'remove', subscription_path(subscription), :confirm => 'Are you sure?', :method => :delete %> 
    </td>
  </tr>
<% end %>
</table>

<br />