<%= error_messages_for :header %>

<% form_for(:header, :url => headers_path, 
                      :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="mugshot">Upload a New Header:</label>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= submit_tag 'Create' %>
  </p>
<% end -%>