<%= render :partial => 'uploads/_new' %>

<% for header in @headers %>
	<p><%= link_to image_tag(header.public_filename), header_path(header) %></p>
<% end %>

<div class="info-right">
	<%= link_to('View All Headers &raquo;', headers_path) %>
</div>
<div style="clear:both;"> </div>
