<% if !@headers.blank? %>
  <table cellspacing="0">
    <thead>
      <tr>
        <th class="tcl" colspan="2"><%= link_to 'Headers', headers_path %></th>
      </tr>
    </thead>
    <tbody>
      <% for header in @headers %>
        <tr>
          <td class="tci"><%= icon_for(header) %></td>
          <td class="tcl">
            <%= link_to truncate(h(header), :length => 28), header %> by <%=h header.user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>