<ul class="tabs">
	<li class="<%= tab('home') %>"><%= link_to('Home', home_path) %></li>
	<li class="<%= tab('events') %>"><%= link_to('Events', events_path) %></li>
	<li class="<%= tab('uploads') %>"><%= link_to('Files', files_home_path) %></li>
	<li class="<%= tab('forums') %>"><%= link_to('Forum', forum_home_path) %></li>
	<li class="<%= tab('headers') %>"><%= link_to('Headers', headers_path) %></li>
	<li class="<%= tab('users') %>"><%= link_to('Users', users_path) %></li>
</ul>