<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title><%= page_title %></title>
	<%= stylesheet_link_tag 'application' %>
	<%= random_header_css %>
</head>

<body>

	<div class="wrapper">
		
		<% for event in @reminders %>
			<div class="reminders"><%= link_to h(event.title), event_path(event) %></div>
		<% end %>
		
		<div class="header">
			<h1><%= link_to(SITE_TITLE, home_path) %></h1>
			<div class="tagline">All an elaborate, unapproachable, unprofitable, retributive joke</div>		
		</div>
		
		<ul class="tabs">
			<li class="<%= tab('home') %>"><%= link_to('Home', home_path) %></li>
			<li class="<%= tab('events') %>"><%= link_to('Events', events_path) %></li>
			<li class="<%= tab('files') %>"><%= link_to('Files', files_path) %></li>
			<li class="<%= tab('topics') %>"><%= link_to('Topics', topics_path) %></li>
			<li class="<%= tab('users') %>"><%= link_to('Users', users_path) %></li>
			<% if admin? %><li class="<%= tab('admin') %>"><%= link_to('Admin', admin_path) %></li><% end %>
		</ul>
		
			<div class="content">
						
			<div class="nav">
				<p class="nav-left">
					<% if logged_in? %>
						Logged in as <b><%= link_to h(current_user.login), user_path(current_user.id) %></b> | 
						Last visit <%= time_ago_in_words(session[:last_login_at]) %> ago
					<% else %>
						You are not logged in
					<% end %>
				</p>
				<p class="nav-right">
					<% if logged_in? %>
						<% if current_controller == "topics" %>
							<%= link_to('Start a New Topic', new_topic_path) %>
						<% elsif current_controller == "events" %>
							<%= link_to('Add a New Event', new_event_path) %>
						<% elsif current_controller == "users" %>
							<%= link_to('Register a New User', new_user_path) %>
							<% elsif current_controller == "files" %>
								<%= link_to('Upload a New File', :controller => 'files', :action => 'new') %>
						<% end %>
						&nbsp; <%= link_to('Logout', logout_path) %>
					<% else %>
						<%= link_to('Register', register_path) %> &nbsp; 
						<%= link_to('Login', login_path) %> 
					<% end %>
				</p>
			</div>
			
			<div style="clear:both"> </div>
			
			<%= content_tag 'div', h(flash[:notice]), :id => 'notice' if flash[:notice] %>
			<%= content_tag 'div', h(flash[:error]), :id => 'error' if flash[:error] %>
			
			<%= yield %>
						
		</div>
		
		<div class="footer">
			<div style="float:left;"><%= SITE_FOOTER_1 %></div>
			<div style="float:right;"><%= SITE_FOOTER_2 %></div>
			<div style="clear:both;"> </div>
		</div>
		
	</div>
	
	<p class="wrapper-footer">Local Time: <%= Time.now %> | UTC Time: <%= Time.now.utc %></p>
	
</body>
</html>
